* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #1F2937;
    
}

.navi-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    margin: 20px 0 64px 0;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo span {
    font-weight: lighter;
    font-size: 1em;
    color: #CCC;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 80px;
    padding: 20px;
    flex-wrap: wrap;
    width: 1300px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    margin: 0 40px 0 auto;
}

.welcome-container h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    padding: 12px 0;
}

.hero-container img {
    background: rgba( 56, 130, 246, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 50%;
    height: auto;
}

.welcome-container p {
    color: #E5E7EB;
    font-size: 18px;
    padding: 12px 0;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
}

.navi-item {
    padding: 0 12px;

}

.welcome-container button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 36px;
    border-radius: 8px;
    color: #E5E7EB;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 48px;
    margin-bottom: 250px;
    
}

.info-container h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 48px;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    gap: 15px;

   
}

.gallery-items-layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    
    padding: 20px 24px;
    width: 20%;
    height: auto;
    background-color: #1F2937;
    border-radius: 10px;



}

.gallery-items-layout img {
    max-width: 300px;
    height: 300px;
    object-fit:cover;
    margin:15px auto 24px;

    background: rgba( 56, 130, 246, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.gallery-items-layout h4 {
    text-justify: auto;
    text-align: center;
    align-content: center;
    font-size: 1.2rem;
    border-bottom: 2px solid #999;
    width: 65%;
    padding-bottom: 20px;
    margin: 12px auto 8px;
    color: #E5E7EB;
    font-weight: bolder;
}

.gallery-items-layout h4 span {
    font-weight: 100;
    font-size: 1rem;
    color: #AAA;
}
.gallery-items-layout p {
    font-size: 1rem;
    font-weight: 100;
    color: #AAA;
    width: 90%;
    margin-top: 12px;
    padding-bottom: 36px;
}

.quote-container {
    max-width: 1000px;
    justify-items: center;
    margin: 0 auto 80px;
    background-color: #E5E7EB;
}

.quote {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.author {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
}

.call-to-action-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 300px auto 81px;
    background-color: #3882F6;
    max-width: 1200px;
    border-radius: 8px;
    padding: 54px 0;
    
}

.call-message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
}

.call-message-container h3 {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.call-message-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.call-to-action-container button {
    padding: 8px 36px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: bold;
    background-color: #3882F6;
    border: 3px solid #E5E7EB;
    border-radius: 8px;
    cursor: pointer;
}

.call-to-action-container button:hover {
    color: #3882F6;
    background-color: #E5E7EB;
}

.Footer-container {
    padding: 28px;
    text-align: center;
    background-color: #1F2937;
}

.Footer {
    color: #E5E7EB;
    font-size: 18px;
}